<div class= "bg-light">
  Pick-up information:
  <%= @order.pickup_address%>
  <%= @order.pickup_at %>
  <%= @order.pickup_additional_detail %>
</div>

<div class="bg-light">
  Drop-off information:
  <%= @order.dropoff_address%>
  <%= @order.dropoff_at %>
  <%= @order.dropoff_additional_detail %>
</div>
