 <%= render "form", order: @order%>
<h1>Pick-up Information</h1>
<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class=“container” >
    <div class=“form-inputs .bg-light”>
      <%= f.input :pickup_name %>
      <%= f.input :pickup_contact_phone %>
      <p>Item Size</p>
      <%= f.collection_radio_buttons :item_size, [["small", 'Small'], ["medium", 'Medium'], ["large", 'Large'] ], :first, :last %>
      <%= f.input :pickup_additional_detail %>
    </div>
    <div class=“form-inputs .bg-light”>
      <%= f.input :dropoff_name %>
      <%= f.input :dropoff_contact_phone %>
      <%= f.input :dropoff_additional_detail %>
    </div>
    <div class=“d-grid”>
      <%= f.button :submit, class: "btn btn-blue mt-2 mb-2"%>
    </div>
  </div>
<% end %>
