<h1>Summary</h1>

<h2>map box</h2>

<%= render 'order', order: @order %>

<%= link_to "Edit the order", edit_order_path(@order) %>

Price: <%= @order.calculate_price %>

<div class=“d-grid”>
<%# <%= button_to 'Confirm', action: :rebuild_indexes,
  form: {data: {turbo_confirm: 'Are you sure?'}} %>
  <%# <%= button_to "", class: "btn btn-blue mt-2 mb-2"%>

  <%= link_to "Confirm",  specialshow_order_path(@order) %>
</div>

<%# <%= button_to "Accept", order_accept_path(@order), class: "btn btn-large btn-success", method: :patch %>
<%# <%= button_to "Mark as completed", order_markascompleted_path(@order), class: "btn btn-large btn-success", method: :patch %>

<%# <%= button_to "Canceled", order_cancel_path(@order), class: "btn btn-large btn-success", method: :patch %>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <% if  @order.trip_duration.in_hours.floor <= 1 %>
    duration: <%= pluralize @order.trip_duration.in_minutes.ceil, "Minute" %> 
  <% else %>
    duration:<%= pluralize @order.trip_duration.in_hours.floor, "Hour" %> <%= pluralize (@order.trip_duration.in_minutes.ceil - @order.trip_duration.in_hours.floor * 60), "Minute" %>
  <% end %>
