<div class="container">
  <%= render '4-steps' %>
  <div id= "map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY']%>"></div>
  <div class="container-background" style="text-align: center">
    <h1>Summary</h1>
    <span class="badge rounded-pill">
      <% if  @order.trip_duration.in_hours.floor <= 1 %>
        Your order will take approximately:
        <br>
        <h3 class ="pill-text"><%= pluralize @order.trip_duration.in_minutes.ceil, "Minute" %></h3>
      <% else %>
        Your order will take approximately:
        <br>
        <h3 class ="pill-text"><%= pluralize @order.trip_duration.in_hours.floor, "Hour" %> <%= pluralize (@order.trip_duration.in_minutes.ceil - @order.trip_duration.in_hours.floor * 60), "Minute" %></h3>
      <% end %>
    </span>
  </div>
  <div class="card-light-orange">
    <div class="card-flex">
      <i class="fa-solid fa-location-dot fa-2xl" style="color: #ff731d;"></i>
      <h2>Pick-up information:</h2>
      <div>
        <%= link_to edit_order_path(@order) do %>
          <i class="fa-solid fa-pen fa-lg" style="color: #1746a2;"></i>
        <% end %>
      </div>
    </div>
    <div class="card-summary">
      <h5>Pick-up address</h5>
      <p><%= @order.pickup_address%></p>
      <h5>Pick-up time</h5>
      <p><%= @order.pickup_at.strftime('%Y-%m-%dT%H:%M') %></p>
      <h5>Name & phone No. of sender</h5>
      <p><%= @order.pickup_name %></p>
      <p><%= @order.pickup_contact_phone %></p>
      <h5>Additional information</h5>
      <p><%= @order.pickup_additional_detail %></p>
    </div>
    <hr>
    <div class="card-flex">
      <i class="fa-solid fa-location-dot fa-2xl" style="color: #ff731d;"></i>
      <h2>Drop-off information:</h2>
      <div></div>
    </div>
    <div class="card-summary">
      <h5>Drop-off address</h5>
      <p><%= @order.dropoff_address%></p>
      <h5>Drop-off time</h5>
      <p><%= @order.dropoff_at.strftime('%Y-%m-%d %H:%M') %></p>
      <h5>Name & phone No. of recipient</h5>
      <p><%= @order.dropoff_name %></p>
      <p><%= @order.dropoff_contact_phone  %></p>
      <h5>Additional information</h5>
      <p><%= @order.dropoff_additional_detail %></p>
    </div>
    <div class="text-center mt-2 mb-1">
      <%= link_to specialshow_order_path(@order) do %>
        <%# <input class="btn btn-sticky btn-blue" type="submit" value="Submit order:    <%= @order.calculate_price %>
        <input class="btn btn-sticky btn-blue" type="submit" value="Submit order:    ---  CHF">
      <% end %>
    </div>
  </div>
