<div class="background-container">
  <div class= "one">
    <div class="banner">
      <div class="circle">
        <div class="circle-icon">
          <i class="fa-solid fa-circle-check fa-2xl" style="color: #ff731d;"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
      <h5 class="card-header">Status: <% if @order.status.nil? %>
        Confirmed
      <% else %>
        <%= @order.status %>
      <% end %></h5>
      <div class="card-body">
        <h5 class="card-text">Approximate Drop-off time: <%= @order.dropoff_at.strftime("%H:%M") %></h5>
        <p class="card-title">Drop-off address: <%= @order.dropoff_address %></p>
        <p class="card-text">Price:  <%= @order.price %></p>
        <hr>
        <div class="d-flex justify-content-between mb-10">
          <p class="card-text">Driver: <%= @order.driver%></p>
          <button type="button" class="btn btn-blue ">Call driver</button>
        </div>
        <div class="d-grid">
          <%= button_to "Cancel Delivery", root_path , class:"btn btn-outline-secondary btn-full-width", method: :get %>
        </div>
      </div>
  </div>
  <%= button_to "All orders", orders_path(@orders), class:"btn btn-sticky btn-blue", method: :get %>
</div>
