<div class="background-container">
  <div class= "one">
    <div class="banner">
      <div class="circle">
        <div class="circle-icon">
          <i class="fa-solid fa-circle-check fa-2xl" style="color: #ff731d;"></i>
        </div>
      </div>
    </div>
  </div>
    <div class="card-light-orange">
      <h5 class="card-header">Status: <%= @order.status %>
      <div class="card-body">
        <h5 class="card-text">Approximate Drop-off time: <%= @order.dropoff_at.strftime("%H:%M") %></h5>
        <p class="card-title">Drop-off address: <%= @order.dropoff_address %></p>
        <%# <p class="card-text">Price:  <%= @order.price</p> %>
        <hr>
        <% if @order.status == "Confirmed"%>
          <div class="d-flex justify-content-between mb-10">
            <p class="card-text"><%= @order.driver%></p>
            <button type="button" class="btn btn-blue ">Call driver</button>
          </div>
        <%end%>
        <div class="d-grid">
          <%# <%= button_to "Cancel Delivery", root_path , class:"btn btn-outline-secondary btn-full-width", method: :get %>
              <%= button_to "Cancel Delivery", order_cancel_path(@order), class:"btn btn-sticky btn-blue", method: :patch %>
        </div>
      </div>
  </div>
  <%= button_to "All orders", orders_path(@orders), class:"btn btn-sticky btn-blue", method: :get %>
</div>
