<div>
<h2>We found a driver for your delivery</h2>
<h3>approximate drop-off time</h3>
<h2><%= @order.dropoff_at.strftime("%Y-%m-%d %H:%M") %> </h2>
</div>
<%# Status: <% if @order.status.nil? %>
<%# Confirmed %>
<%# <% else %>
<%# <%= @order.status %>
<%# <% end %>
<label for="disabledTextInput" class="form-label">Driver</label>
<div class="card-body">
  <%= @order.driver %>
</div>
<button type="button" class="btn btn-blue">Contact Driver</button>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Drop-off Location
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @order.dropoff_address %></li>
  </ul>
  <div class="card-header">
    Price
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @order.price %></li>
  </ul>
</div>
<div class=“d-grid”>
  <%= button_to "Cancel Delivery", order_cancel_path(@order), class:"btn btn-sticky btn-blue", method: :patch %>

</div>
