<h1>special show</h1>
<div>
<h2>Approximate Dropoff Time</h2>
<h2><%= (@order.pickup_at + @order.trip_duration).strftime("%H:%M") %> </h2>
</div>
Status: <% if @order.status.nil? %>
Pending
<% else %>
<%= @order.status %>
<% end %>
<label for="disabledTextInput" class="form-label">Driver</label>
<div class="card-body">
  <%= @order.driver %>
</div>
<button type="button" class="btn btn-primary">Call driver</button>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Drop-off Location
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @order.dropoff_address %></li>
  </ul>
  <div class="card-header">
    Price
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= @order.calculate_price %></li>
  </ul>
</div>
<div class=“d-grid”>
  <%= button_to "Canceled", order_cancel_path(@order), class: "btn btn-large btn-success", method: :patch %>
  <button type="button" class="btn btn-primary">My orders</button>

</div>

<%# <%= @order.distance KM. %>
<%# <%= @order.calculate_price CHF. %>
